  <footer class="main-footer">
            <div class="auto-container">

                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-content">
                                    <div class="info-box">
                                        <div class="single-item">
                                            <h3>Enquiry</h3>
                                            <p><a href="tel:+917260803100">+7260803100</a><br /><a
                                                    href="mailto;info@goalbiooil.com">info@goalbiooil.com</a>
                                            </p>
                                        </div>
                                        <div class="single-item">
                                            <h3>Reach</h3>
                                            <p>Basma Complex, Kumhartoli, Opp. Krris Hyundai
                                                Showroom, Kankarbagh More, Patna-Bihar-800020</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-6 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Company</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="overview.php">Overview</a></li>
                                        <li><a href="vision-mission.php">Vision & Mission</a></li>
                                        <li><a href="about-bio-fuel.php">About Bio Fuel</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="bihar-depot.php">Our Depot</a></li>
                                        <li><a href="branches.php">Branches</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-6 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Useful Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="bio-diesel.php">Bio Diesel</a></li>
                                        <li><a href="lubricants.php">Lubricants</a></li>
                                        <li><a href="lpg-cylinder.php">LPG Gas Cylinder</a></li>
                                        <li><a href="#">Bio Petrol</a></li>
                                        <li><a href="#">Ethanol Petrol</a></li>
                                        <li><a href="career.php">Career</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="#">Our Clients</a></li>
                                        <li><a href="#">Marketing Partners</a></li>
                                        <li><a href="photo-gallery.php">Photo Gallery</a></li>
                                        <li><a href="video-gallery.php">Video Gallery</a></li>
                                        <li><a href="news.php">News</a></li>
                                        <li><a href="notice.php">Notice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner">
                        <div class="copyright">
                            <p>Copyright &copy; 2024. Goal Bio Oil. All Rights Reserved.
                                Developed By :
                                <a href="http://samsoftech.in" target="_blank">SAM Softech</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>