<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Goal Bio Oil - Biodiesel Manufacturer in Patna, Bihar</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
    <meta name="description"
        content="Welcome to Goal Bio Oil, a leading biodiesel manufacturing company committed to sustainability and eco-friendly energy solutions." />
    <meta name="keywords"
        content="biodiesel, sustainable energy, renewable fuels, eco-friendly, green energy, biodiesel production" />
    <meta name="author" content="Goal Bio Oil" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/owl.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/nice-select.css" rel="stylesheet" />
    <link href="assets/css/color.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />

</head>

<!-- page wrapper -->

<body>

    <div class="boxed_wrapper">

        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="g" class="letters-loading">
                                g
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                            <span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                            <span data-text-preloader="l" class="letters-loading">
                                l
                            </span>
                            <span data-text-preloader="b" class="letters-loading">
                                b
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="popup-inner">
                <div class="upper-box clearfix">
                    <figure class="logo-box pull-left"><a href="./"><img src="assets/images/logo.png" alt="" /></a>
                    </figure>
                    <div class="close-search pull-right"><i class="fa-solid fa-xmark"></i></div>
                </div>
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="search-form">
                        <form method="post" action="#">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value=""
                                        placeholder="Type your keyword and hit" required />
                                    <button type="submit"><i class="flaticon-loupe"></i></button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- main header -->
        {{>mainheader}}
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="./"><img src="assets/images/logo-2.png" alt="Goal Bio Oil"
                            title="Goal Bio Oil" /></a>
                </div>
                <div class="menu-outer">
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Basma Complex, Kumhartoli, Opp. Krris Hyundai Showroom,
                            Kankarbagh More, Patna-Bihar-800020</li>
                        <li><a href="tel:+91 7260803100">+91 7260803100</a></li>
                        <li><a href="mailto:info@goalbiooil.com">info@goalbiooil.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->
        <!-- banner-section -->
        <section class="page-title centred">
            <div class="bg-layer" style="background-image: url(assets/images/header2.jpg);"></div>
            <div class="line-box">
                <div class="line-1"></div>
                <div class="line-2"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Appointment</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="./">Home</a></li>
                        <li>Appointment</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="checkout-page-section pt-4">
            <div class="auto-container">
                <div class="order-information">
                    <div class="row clearfix d-flex justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 left-column">
                            <div class="information-inner"
                                style="background:url('assets/images/bg-img.jpg');opcity:0.2">
                                <div class="contact-information text-center">
                                    <h3>Appointment</h3>
                                </div>
                                <form action="/addappoinment" method="post" enctype="multipart/form-data">
                                    <div class="shipping-address">
                                        <div class="row clearfix">
                                            <div class="col-lg-8">
                                                <div class="row clearfix">

                                                    <div class="col-lg-12 col-md-6 col-sm-12 column">
                                                        <div class="field-input">
                                                            <input type="text" name="Name" placeholder="Full Name*"
                                                                required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-6 col-sm-12 column">
                                                        <div class="field-input">
                                                            <input type="text" name="Fathersname"
                                                                placeholder="Father Name*" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                        <div class="field-input">
                                                            <input type="text" name="Contactno"
                                                                placeholder="Contact No*" required="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                        <div class="field-input">
                                                            <input type="email" name="email" placeholder="Email Address"
                                                                required="">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-lg-4">
                                                <div id="file-upload-form" class="uploader">
                                                    <input id="file-upload" type="file" name="profileImage"
                                                        accept="image/*">


                                                    <label for="file-upload" id="file-drag">
                                                        <img id="file-image" src="#" alt="Preview" class="hidden">
                                                        <div id="start">
                                                            <i class="fa fa-download" aria-hidden="true"></i>
                                                            <div>Select a phot or drag here</div>
                                                            <div id="notimage" class="hidden">Please select an image
                                                            </div>
                                                            <span id="file-upload-btn" class="btn btn-primary">Select a
                                                                Photo</span>
                                                        </div>
                                                        <div id="response" class="hidden">
                                                            <div id="messages"></div>
                                                            <progress class="progress" id="file-progress" value="0">
                                                                <span>0</span>%
                                                            </progress>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>



                                        </div>

                                        <div class="row clearfix pt-4">
                                            <div class="col-lg-12 col-md-12 col-sm-12 column">
                                                <div class="field-input">
                                                    <input type="text" name="Address"
                                                        placeholder="Address - Village/Mohalla/Street*">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 column">
                                                <div class="field-input">
                                                    <input type="text" name="Block" placeholder="Block" required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 column">
                                                <div class="field-input">
                                                    <input type="text" name="Post" placeholder="P.O." required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 column">
                                                <div class="field-input">
                                                    <input type="text" name="Ps" placeholder="P.S." required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 column">
                                                <div class="field-input">
                                                    <div class="select-box">
                                                        <select name="State" class="wide" style="display: none;">
                                                            <option data-display="Select State">Select State</option>
                                                            <option value="Bihar">Bihar</option>
                                                            <option value="West Bangal">West Bangal</option>
                                                            <option value="Orrisa">Orrisa</option>
                                                            <option value="Gujrat">Gujrat</option>
                                                            <option value="Guwahati">Guwahati</option>
                                                        </select>
                                                        <div class="nice-select wide" tabindex="0"><span
                                                                class="current">Select State</span>
                                                            <ul class="list">
                                                                <li data-value="Select State"
                                                                    data-display="Select State" class="option selected">
                                                                    Select State</li>
                                                                <li data-value="Bihar" class="option">Bihar</li>
                                                                <li data-value="West Bangal" class="option">West Bangal</li>
                                                                <li data-value="Orrisa" class="option">Orrisa</li>
                                                                <li data-value="Gujrat" class="option">Gujrat</li>
                                                                <li data-value="Guwahati" class="option">Guwahati</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 column">
                                                <div class="field-input">
                                                    <div class="select-box">
                                                        <select name="Disrict" class="wide" style="display: none;">
                                                            <option data-display="Select District">Select District
                                                            </option>
                                                            <option value="Patna">Patna</option>
                                                            <option value="Kolkata">Kolkata</option>
                                                            <option value="Gaya">Gaya</option>
                                                            <option value="Ranchi">Ranchi</option>
                                                            <option value="Muzaffarpur">Muzaffarpur</option>
                                                        </select>
                                                        <div class="nice-select wide" tabindex="0"><span
                                                                class="current">Select District</span>
                                                            <ul class="list">
                                                                <li data-value="Select District"
                                                                    data-display="Select District"
                                                                    class="option selected">Select District</li>
                                                                <li data-value="Patna" class="option">Patna</li>
                                                                <li data-value="Kolkata" class="option">Kolkata</li>
                                                                <li data-value="Gaya" class="option">Gaya</li>
                                                                <li data-value="Ranchi" class="option">Ranchi</li>
                                                                <li data-value="Muzaffarpur" class="option">Muzaffarpur</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 column">
                                                <div class="field-input">
                                                    <input type="text" name="Pin" placeholder="Pin" required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 column">
                                                <div class="field-input">
                                                    <input type="text" name="Landmark" placeholder="Landmark"
                                                        required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 column">
                                                <div class="field-input">
                                                    <input type="text" name="Pan" placeholder="Pan Card No."
                                                        required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 column">
                                                <div class="field-input">
                                                    <input type="text" name="Aadhar" placeholder="Aadhar Card No."
                                                        required="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="information-inner">
                                                <div class="row clearfix">
                                                    <h4 class="pb-4">Education Qualification *</h4>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                                        <table class="table table-bordered">
                                                            <thead class="edud">
                                                                <tr>
                                                                    <th>Exam</th>
                                                                    <th>School/College/University</th>
                                                                    <th>Session</th>
                                                                    <th>Division</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="edu">
                                                                <tr>
                                                                    <td>10 th</td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[0][college]"
                                                                                placeholder="College" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[0][session]"
                                                                                placeholder="Session" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[0][division]"
                                                                                placeholder="Division" required="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>12 th</td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[1][college]"
                                                                                placeholder="College" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[1][session]"
                                                                                placeholder="Session" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[1][division]"
                                                                                placeholder="Division" required="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Graudation</td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[2][college]"
                                                                                placeholder="College" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[2][session]"
                                                                                placeholder="Session" required="">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="field-input"
                                                                            style="margin-bottom:0px;min-height:30px;">
                                                                            <input type="text"
                                                                                name="educationQualifications[2][division]"
                                                                                placeholder="Division" required="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 column">
                                                        <div class="field-input">
                                                            <input type="text" name="Experience"
                                                                placeholder="Experience" required="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-box pt-4 text-center">
                                            <button type="submit" class="apbt">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- main-footer -->
        {{>footer}}
        <!-- main-footer end -->


    </div>

    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.lettering.min.js"></script>
    <script src="assets/js/jquery.circleType.js"></script>
    <script src="assets/js/text_animation.js"></script>
    <script src="assets/js/text_plugins.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
    <script>
        document.getElementById('file-upload').addEventListener('change', function () {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('file-image').src = e.target.result;
                document.getElementById('file-image').classList.remove('hidden');
            };

            reader.readAsDataURL(file);
        });
    </script>

</body><!-- End of .page_wrapper -->

</html>