<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Goal Bio Oil - Biodiesel Manufacturer in Patna, Bihar</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
    <meta name="description"
        content="Welcome to Goal Bio Oil, a leading biodiesel manufacturing company committed to sustainability and eco-friendly energy solutions." />
    <meta name="keywords"
        content="biodiesel, sustainable energy, renewable fuels, eco-friendly, green energy, biodiesel production" />
    <meta name="author" content="Goal Bio Oil" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/owl.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/nice-select.css" rel="stylesheet" />
    <link href="assets/css/color.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flat-icons@1.0.0/creative.min.css">

</head>

<!-- page wrapper -->

<body>

    <div class="boxed_wrapper">

        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="g" class="letters-loading">
                                g
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                            <span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                            <span data-text-preloader="l" class="letters-loading">
                                l
                            </span>
                            <span data-text-preloader="b" class="letters-loading">
                                b
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="o" class="letters-loading">
                                o
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="popup-inner">
                <div class="upper-box clearfix">
                    <figure class="logo-box pull-left"><a href="./"><img src="assets/images/logo.png" alt="" /></a>
                    </figure>
                    <div class="close-search pull-right"><i class="fa-solid fa-xmark"></i></div>
                </div>
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="search-form">
                        <form method="post" action="#">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value=""
                                        placeholder="Type your keyword and hit" required />
                                    <button type="submit"><i class="flaticon-loupe"></i></button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- main header -->
     {{>mainheader}}
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="./"><img src="assets/images/logo-2.png" alt="Goal Bio Oil"
                            title="Goal Bio Oil" /></a>
                </div>
                <div class="menu-outer">
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Basma Complex, Kumhartoli, Opp. Krris Hyundai Showroom,
                            Kankarbagh More, Patna-Bihar-800020</li>
                        <li><a href="tel:+91 7260803100">+91 7260803100</a></li>
                        <li><a href="mailto:info@goalbiooil.com">info@goalbiooil.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->
        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel owl-theme owl-carousel">
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/slider5.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="special-text d-none d-sm-block"></span>
                            <h2><span>Drive The</span> <br /><span>Future...</span></h2>
                            <div class="btn-box">
                                <a href="bio-diesel.php" class="theme-btn btn-one"><span>More
                                        Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/slider6.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="special-text d-none d-sm-block"></span>
                            <h2><span>Fuel the future </span>
                                <br /><span>with biofuels</span>
                            </h2>
                            <div class="btn-box">
                                <a href="bio-diesel.php" class="theme-btn btn-one"><span>More
                                        Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/slider7.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="special-text d-none d-sm-block"></span>
                            <h2><span>Fuel the future </span>
                                <br /><span>with biofuels</span>
                            </h2>
                            <div class="btn-box">
                                <a href="bio-diesel.php" class="theme-btn btn-one"><span>More
                                        Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/slider3.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <span class="special-text d-none d-sm-block"></span>
                            <h2><span>Biofuel, </span>
                                <br /><span>fueling the future</span>
                            </h2>
                            <div class="btn-box">
                                <a href="bio-diesel.php" class="theme-btn btn-one"><span>More
                                        Details</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->
        <!-- about-section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box d-none d-sm-block">
                            <figure class="image"><img src="assets/images/about-1.jpg" alt="about Us" /></figure>
                            <div class="text">
                                <h5>12+ Years Experienced</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box">
                            <div class="sec-title">
                                <span class="sub-title">About Us</span>
                                <h2>Welcome To Goal Bio Oil</h2>
                            </div>
                            <div class="text">
                                <p>"GOAL Gas Private Limited” & “GOAL Bio Oil Private Ltd” was
                                    incorporated as per Indian company’s act with an objective
                                    to cater the opportunities in the “Renewable Energy
                                    Sectors”, with highest level of environmental and social
                                    governance (ESG). The company has strong portfolio of highly
                                    prospective projects.</p>
                            </div>
                            <div class="single-box">
                                <p>It’s an ISO 14001-2015 certified Bio Automotive Fuel
                                    Processing Company, with a specialized offering of
                                    ultra-premium quality and low emission fuel.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->
        <!-- industry-section -->
        <section class="industry-section pt-5">
            <div class="auto-container">
                <div class="sec-title centred">
                    <span class="sub-title">Our Products</span>
                    <h2>Industries We Serve</h2>
                </div>
            </div>
            <div class="industry-tab">

                <div class="auto-container">
                    <div class="p-tabs-content">
                        <div class="p-tab active-tab" id="tab-1">
                            <div class="single-item-carousel owl-carousel owl-theme owl-dots-none">
                                <div class="content-inner">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                            <div class="content-box">
                                                <div class="sec-title">
                                                    <h2> Bio Diesel</h2>
                                                </div>
                                                <div class="inner-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Biodiesel is a renewable,</li>
                                                        <li>Biodiesel is a liquid fuel often referred to
                                                            as B100,</li>
                                                    </ul>
                                                    <p>Goal Bio Oil is always making sustainable fuel
                                                        arrangements and environmentally friendly power
                                                        vitality advancements to make a more joyful,
                                                        clearer, more brilliant India.
                                                    </p>

                                                    <div class="btn-box">
                                                        <a href="bio-diesel.php" class="theme-btn btn-two"><span>More
                                                                Details</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/biodiesel-img.jpg"
                                                        alt="Bio Diesel" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                            <div class="content-box">
                                                <div class="sec-title">
                                                    <h2>Lubricants</h2>
                                                </div>
                                                <div class="inner-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Goal Bio Lubricants offers industrial
                                                            lubricants
                                                        </li>
                                                        <li>Specialty lubrication solutions based on
                                                            various product
                                                        </li>
                                                    </ul>
                                                    <p>Goal Bio oil Lubricants is Goal Bio Oil brand for
                                                        manufacturing and marketing various lubricants and
                                                        specialty products.</p>
                                                    <div class="btn-box">
                                                        <a href="lubricants.php" class="theme-btn btn-two"><span>More
                                                                Details</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/lubricant-img.jpg"
                                                        alt="Lubricants" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                            <div class="content-box">
                                                <div class="sec-title">
                                                    <h2>Bio Petrol</h2>
                                                </div>
                                                <div class="inner-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Bio petrol is often mixed with diesel fuel.</li>
                                                        <li>Biofuels are renewable energy sources</li>
                                                    </ul>
                                                    <p>Bio petrol, also known as bioethanol, is a
                                                        renewable fuel made from agricultural products
                                                        like corn, sugarcane, and sweet sorghum. It's
                                                        produced through fermentation, mainly from
                                                        carbohydrates found in sugar and starch crops.</p>
                                                    <div class="btn-box">
                                                        <a href="i#" class="theme-btn btn-two"><span>More
                                                                Details</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/bio-petrol.jpg" alt="" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                            <div class="content-box">
                                                <div class="sec-title">
                                                    <span class="sub-title">Industry</span>
                                                    <h2>LPG Cylinder</h2>
                                                </div>
                                                <div class="inner-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Fully refundable deposit</li>
                                                        <li>Low gas price</li>
                                                        <li>Minimal connection charges</li>
                                                    </ul>
                                                    <p>Instant gas connection, quick refill and prompt
                                                        service are what Goal Bio fuel Gas offers. And
                                                        it’s easy! Just pick up the phone and call now!</p>
                                                    <div class="btn-box">
                                                        <a href="lpg-cylinder.php" class="theme-btn btn-two"><span>More
                                                                Details</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/lpg-gas.jpg"
                                                        alt="LPG Cylinder" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                            <div class="content-box">
                                                <div class="sec-title">
                                                    <h2>20% Ethanol Mixed Petrol</h2>
                                                </div>
                                                <div class="inner-box">
                                                    <ul class="list-style-one clearfix">
                                                        <li>Petrol is a product of fractional distillation
                                                            of crude oil,
                                                        </li>
                                                        <li>The standardised octane number for petrol in
                                                            India is 91.
                                                        </li>
                                                    </ul>
                                                    <p>Blending ethanol with fuel raises the octane
                                                        number of petrol. Petrol prices can be lowered if
                                                        OMCs pass on the gains.</p>
                                                    <div class="btn-box">
                                                        <a href="./" class="theme-btn btn-two"><span>More
                                                                Details</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/images/ethinol-img.jpg"
                                                        alt="20% Ethanol Mixed Petrol" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- industry-section end -->

        <!-- funfact-section -->
        <section class="funfact-section">
            <div class="outer-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-6 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-factory"></i></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="8">0</span>
                                </div>
                                <div class="text">
                                    <h3>Branches</h3>
                                    <p>Branches Across India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-6 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-gas"></i></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="32">0</span><span>+</span>
                                </div>
                                <div class="text">
                                    <h3>Projects</h3>
                                    <p>Projects with 100% Satisfaction</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 funfact-block">
                        <div class="funfact-block-one">
                            <div class="inner-box">
                                <div class="icon-box"><i class="flaticon-engineer"></i></div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="167">0</span>
                                </div>
                                <div class="text">
                                    <h3>Engineers</h3>
                                    <p>Top Engineers around India</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- funfact-section end -->

        <!-- service-section -->
        <section class="service-section sec-pad bg-color-1">
            <div class="line-box">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
                <div class="line line-4"></div>
            </div>
            <div class="auto-container">
                <div class="sec-title centred">
                    <span class="sub-title">Fueling India’s growing demand for energy</span>
                    <h2>Supply Operations & Distribution (SOD)</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="assets/images/service-1.jpg" alt="" />
                                    </figure>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-1.png);">
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <span class="big-text">cg</span>
                                    <h3><a href="#">Sustainability</a></h3>
                                    <p>We are committed to reducing our carbon footprint and
                                        promoting sustainable practices throughout our operations.
                                    </p>
                                    <div class="btn-box">
                                        <a href="#"><span>More Details</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="assets/images/service-2.jpg" alt="" />
                                    </figure>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-2.png);">
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <span class="big-text">lp</span>
                                    <h3><a href="#">Quality Assurance</a></h3>
                                    <p>We adhere to the highest industry standards to ensure the
                                        production of biodiesel that meets and exceeds customer
                                        expectations.
                                    </p>
                                    <div class="btn-box">
                                        <a href="#"><span>More Details</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="assets/images/service-3.jpg" alt="" />
                                    </figure>
                                    <div class="shape" style="background-image: url(assets/images/shape/shape-3.png);">
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <span class="big-text">mt</span>
                                    <h3><a href="#">Environmental Responsibility</a></h3>
                                    <p>We recognize the importance of protecting the
                                        environment.
                                    </p>
                                    <div class="btn-box">
                                        <a href="#"><span>More Details</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-section end -->

        <!-- chooseus-section -->
        <section class="chooseus-section pb-5">
            <div class="pattern-layer" style="background-image: url(assets/images/shape-4.png);"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-xl-6 col-lg-12 col-md-12 title-column">
                        <div class="sec-title">
                            <span class="sub-title">Why Choose Us</span>
                            <h2>Deliver On Time and On Budget</h2>
                            <p>We envision a future where clean and sustainable energy plays
                                a pivotal role in meeting the world's growing energy demands.
                            </p>
                            <a href="#" class="theme-btn btn-two"><span>More Details</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="scroll-text">
                    <ul class="text-list clearfix">
                        <li>deliver on time & on budget</li>
                        <li>A dedicated service</li>
                    </ul>
                </div>
                <div class="content-box">
                    <div class="single-item">
                        <div class="static-content">
                            <span class="count-text">01</span>
                            <div class="text">
                                <h3>Renewable Resource</h3>
                                <p>Biodiesel is produced from renewable resources, such as
                                    vegetable oils, animal fats, or recycled cooking oils.
                                    Unlike finite fossil fuels
                                </p>
                            </div>
                        </div>
                        <div class="overlay-content">
                            <div class="icon-box"><i class="flaticon-manufacture"></i></div>
                            <div class="text">
                                <h3>Renewable Resource</h3>
                                <p>Biodiesel is produced from renewable resources, such as
                                    vegetable oils, animal fats, or recycled cooking oils.
                                    Unlike finite fossil fuels
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="static-content">
                            <span class="count-text">02</span>
                            <div class="text">
                                <h3>Reduced Greenhouse Gas Emissions</h3>
                                <p>Biodiesel has a lower carbon footprint compared to
                                    traditional diesel fuel.
                                </p>
                            </div>
                        </div>
                        <div class="overlay-content">
                            <div class="icon-box"><i class="flaticon-manufacture"></i></div>
                            <div class="text">
                                <h3>Reduced Greenhouse Gas Emissions</h3>
                                <p>Biodiesel has a lower carbon footprint compared to
                                    traditional diesel fuel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="static-content">
                            <span class="count-text">03</span>
                            <div class="text">
                                <h3>Energy Independence</h3>
                                <p>Biodiesel reduces dependency on imported fossil fuels,
                                    promoting energy independence for countries.
                                </p>
                            </div>
                        </div>
                        <div class="overlay-content">
                            <div class="icon-box"><i class="flaticon-manufacture"></i></div>
                            <div class="text">
                                <h3>Energy Independence</h3>
                                <p>Biodiesel reduces dependency on imported fossil fuels,
                                    promoting energy independence for countries.</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-item">
                        <div class="static-content">
                            <span class="count-text">04</span>
                            <div class="text">
                                <h3>Waste Utilization</h3>
                                <p>Biodiesel production often involves the use of waste
                                    materials, such as used cooking oil or animal fats,
                                </p>
                            </div>
                        </div>
                        <div class="overlay-content">
                            <div class="icon-box"><i class="flaticon-manufacture"></i></div>
                            <div class="text">
                                <h3>Waste Utilization</h3>
                                <p>Biodiesel production often involves the use of waste
                                    materials, such as used cooking oil or animal fats,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-text">
                    <ul class="text-list clearfix">
                        <li>deliver on time & on budget</li>
                        <li>A dedicated service</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- chooseus-section end -->

        <!-- working-section -->
        <section class="working-section bg-color-1">
            <div class="auto-container">
                <div class="sec-title centred">
                    <span class="sub-title">How We Work</span>
                    <h2>Manufacturing Processes</h2>
                </div>
            </div>
            <div class="outer-container border-top border-bottom">
                <div class="bg-layer" style="background-image: url(assets/images/background/working-bg.jpg);"></div>
                <div class="auto-container">
                    <div class="tabs-box">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                                <div class="tabs-content">
                                    <div class="tab active-tab" id="tab-5">
                                        <div class="content-box">
                                            <span>Step 01</span>
                                            <h3>Feedstock Preparation</h3>
                                            <p>The first step involves obtaining feedstocks rich in
                                                triglycerides. Common feedstocks include vegetable
                                                oils (soybean, canola, palm, etc.), animal fats, and
                                                recycled cooking oils.</p>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-6">
                                        <div class="content-box">
                                            <span>Step 02</span>
                                            <h3>Transesterification</h3>
                                            <p>In this chemical reaction, triglycerides (three fatty
                                                acid chains attached to a glycerol molecule) react
                                                with an alcohol (methanol or ethanol) in the presence
                                                of a catalyst (usually sodium hydroxide or potassium
                                                hydroxide).</p>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-7">
                                        <div class="content-box">
                                            <span>Step 03</span>
                                            <h3>Separation and Washing</h3>
                                            <p>The mixture resulting from transesterification
                                                contains biodiesel, glycerol, and residual catalyst.
                                                After the reaction, these components need to be
                                                separated.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-8">
                                        <div class="content-box">
                                            <span>Step 04</span>
                                            <h3>Drying</h3>
                                            <p>After washing, the biodiesel is dried to remove any
                                                remaining water. Water in biodiesel can cause
                                                stability issues and lead to engine problems, so
                                                thorough drying is essential.</p>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-9">
                                        <div class="content-box">
                                            <span>Step 05</span>
                                            <h3>Quality Control</h3>
                                            <p>Quality control measures are implemented to ensure
                                                the biodiesel meets industry standards and
                                                specifications.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 btn-column">
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab-5">
                                            <span>01</span>
                                            <h4>Feedstock Preparation:</h4>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-6">
                                            <span>02</span>
                                            <h4>Transesterification</h4>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-7">
                                            <span>03</span>
                                            <h4>Separation and Washing</h4>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-8">
                                            <span>04</span>
                                            <h4>Drying</h4>
                                        </li>
                                        <li class="tab-btn" data-tab="#tab-9">
                                            <span>05</span>
                                            <h4>Quality Control</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- working-section end -->

        <!-- news-section -->
        <section class="news-section sec-pad">
            <div class="tabs-box">
                <div class="upper-box">
                    <div class="auto-container">
                        <div class="sec-title centred">
                            <h2>Latest Events</h2>
                        </div>

                    </div>
                </div>
                <div class="tabs-content">
                    <div class="auto-container">
                        <div class="tab active-tab" id="tab-10">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/gallery/g1.jpg" alt="" />
                                                </figure>
                                                <div class="view-btn"><a href="assets/gallery/g1.jpg"
                                                        class="lightbox-image" data-fancybox="gallery"><i
                                                            class="flaticon-zoom-in"></i></a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h3><a href="gallery1.php">Laying the foundation stone
                                                        of ethanol green waste plant</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/gallery/g2.jpg" alt="" />
                                                </figure>
                                                <div class="view-btn"><a href="assets/gallery/g2.jpg"
                                                        class="lightbox-image" data-fancybox="gallery"><i
                                                            class="flaticon-zoom-in"></i></a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h3><a href="gallery1.php">Laying the foundation stone
                                                        of ethanol green waste plant</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <figure class="image"><img src="assets/gallery/g3.jpg" alt="" />
                                                </figure>
                                                <div class="view-btn"><a href="assets/gallery/g3.jpg"
                                                        class="lightbox-image" data-fancybox="gallery"><i
                                                            class="flaticon-zoom-in"></i></a></div>
                                            </div>
                                            <div class="lower-content">
                                                <h3><a href="gallery1.php">Laying the foundation stone
                                                        of ethanol green waste plant</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- news-section end -->

        <!-- main-footer -->
      {{>footer}}
        <!-- main-footer end -->

      
    </div>

    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.lettering.min.js"></script>
    <script src="assets/js/jquery.circleType.js"></script>
    <script src="assets/js/text_animation.js"></script>
    <script src="assets/js/text_plugins.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
    <!-- Include Moment.js in your HTML file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Use the moment global variable in your JavaScript -->


</body><!-- End of .page_wrapper -->

</html>