body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    width: 257px !important;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

h3 {
    color: #333;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.che{
    display: flex;
    align-items: center;
}
.chh{
    display: flex;
    flex-wrap: wrap;
}
.sefieim {
   width: 150px;
   height: 150px;
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pr{
    width: 100 !important;
    height: 100px !important;
    border: none !important;
   
    border-radius: 50% !important;
    opacity: 0;
    z-index: 9;
}
.capture{
    padding: 10px;
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-bottom: 16px;
    background: #2adfdd;
    border-radius: 50%;
    justify-content: center;
}
.fa-camera{
    position: absolute;
    left: 50%;
    color: #3736366b;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
   
}
.prr{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: auto;
    background: #00e0ff !important;
    border-radius: 50% !important;
    overflow: hidden;
}